{% extends 'layout.html' %}
{% block titulo %} Admin/Usuarios {% endblock %}
{% block contenido %}

<style>
  body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
  }
  .sidebar {
      height: 100vh;
      background-color: #343a40;
      padding: 15px;
      position: fixed;
  }
  .sidebar a {
      color: #fff;
      display: block;
      padding: 10px 15px;
      text-decoration: none;
  }
  .sidebar a:hover {
      background-color: #495057;
  }
  .main-content {
      margin-left: 200px;
      padding: 20px;
  }
  .card-custom {
      border-radius: 10px;
  }
  .navbar-custom {
      background-color: #007bff;
  }
  .navbar-custom .navbar-brand, .navbar-custom .navbar-nav .nav-link {
      color: #fff;
  }
  .profile-img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
      border: 3px solid #fff;
  }
  .card-title {
      font-weight: bold;
  }
</style>

 <div class="sidebar">
  <h4 class="text-white">Admin Panel</h4>
  <a href="#">Dashboard</a>
  <a href="/sUsuario">Users</a>
  <a href="#">Settings</a>
  <a href="/sLibros">Libros</a>
  <a href="/signout">Logout</a>
</div>
<div class="container">
  {% with mensajes = get_flashed_messages() %}
  {% if mensaje %}
  {% for m in mensajes %}
  <div class="alert alert-danger d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
  </div>
  {{ m }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
    <table class="table table-dark table-striped-columns">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">titulo</th>
                <th scope="col">autor</th>
                <th scope="col">genero</th>
                <th scope="col">fecha_pub</th>
                <th scope="col">resumen</th>
                <th scope="col">imagen</th>
                <th scope="col" colspan="2">
                 <!-- Button insert -->
                <button type="button" class="fa-solid fa-plus" style="color: #58a6ee;" data-bs-toggle="modal" data-bs-target="#insert">
               </button>
              </th>
            </tr>
      <!-- Modal insert -->
<div class="modal fade" id="insert" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Añadir libro</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="post" action="/iLibros">
            <div class="modal-body">
              <label for="titulo">Titulo</label>
              <input type="text" id="titulo" name="titulo" required>
              <br>
              <label for="autor">Autor</label>
              <input type="text" id="autor" name="autor"  required>
              <br>
              <label for="genero">Genero</label>
              <input type="text" id="genero" name="genero"  required>
              <br>
              <label for="fecha_publicacion">Fecha_pub</label>
              <input type="text" id="fecha_publicacion" name="fecha_publicacion" required>
              <br>
              <label for="resumen">Resumen</label>
              <input type="text" id="resumen" name="resumen" required>
              <br>
              <label for="img">Imagen</label>
              <input type="text" id="img" name="img"  required>
              <br>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary">Guardar cambios</button>
          </div>
      </form>
      </div>
    </div>
  </div>
              </div>
          </form>
      </div>
  </div>
</div>
    </thead>
    <tbody>
        {%for lib in libros%}
      <tr>
        <th scope="row">{{lib.0}}</th>
        <td>{{lib.1}}</td>
        <td>{{lib.2}}</td>
        <td>{{lib.3}}</td>
        <td>{{lib.4}}</td>
        <td>{{lib.5}}</td>
        <td><img src="/static/img/{{lib.6}}" height="50px"></td>
        <td> 
          <!-- Button Modal trigger  -->
          <button type="button" class="fa-solid fa-pencil" style="color: #2bc53d;" data-bs-toggle="modal" data-bs-target="#editar{{ lib.id }}"></button>
        </td>
        <td>
          <!-- Button MODAL ELIMINAR-->
          <button type="button" class="fa-solid fa-xmark" style="color: #d31717;" data-bs-toggle="modal" data-bs-target="#eliminar{{lib.0}}"></button>    
        </td>
      </tr>

      <!-- Modal trigger editar -->
      <div class="modal fade" id="editar{{ lib.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar Libro</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="/uLibros/{{ lib.id }}">
                  <div class="modal-body">
                    <label for="titulo">Titulo</label>
                    <input type="text" id="titulo" name="titulo" required>
                    <br>
                    <label for="autor">Autor</label>
                    <input type="text" id="autor" name="autor"  required>
                    <br>
                    <label for="genero">Genero</label>
                    <input type="text" id="genero" name="genero"  required>
                    <br>
                    <label for="fecha_publicacion">Fecha_pub</label>
                    <input type="text" id="fecha_publicacion" name="fecha_publicacion" required>
                    <br>
                    <label for="resumen">Resumen</label>
                    <input type="text" id="resumen" name="resumen" required>
                    <br>
                    <label for="img">Imagen</label>
                    <input type="text" id="img" name="img"  required>
                    <br>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
      </div>

      <!-- Modal ELIMINAR -->
      <div class="modal fade" id="eliminar{{lib.0}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel"></h1>
            </div>
            <form action="/dLibros/{{lib.0}}" method="post">
            <div class="modal-body">
              ¿Seguro que de eliminar el libro? {{lib.1}}? 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-danger">Corfirmar</button>
            </div>
          </form>
          </div>
        </div>
      </div>
      {%endfor%}
    </tbody>
    </table>
</div>


{% endblock %}