{% extends 'layout.html' %}
{% block titulo %} Registrate {% endblock %}
{% block contenido %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
    <i class="fa-solid fa-book fa-flip" style="color: #77e675;"></i> LecturaApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
        <Center><div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">
              <i class="fa-solid fa-book-open" style="color: #77e675;;"></i> Biblioteca</a>
            </li>
          </ul>
        </div></center>
      <left><div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/signin">
            <i class="fa-solid fa-user" style="color: #77e675;;"></i> Iniciar seccion</a>
          </li>
        </ul>
      </div></left>
    </div>
  </nav>

<h1>Crear Cuenta</h1>
    <form method="post" action="/signup">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre" required>
        <br>
        <label for="correo" class="form-label">Correo electrónico:</label>
        <input type="email" id="correo" name="correo" placeholder="Correo electrónico" required>
        <br>
        <label for="clave" class="form-label">Contraseña:</label>
        <input type="password" id="clave" name="clave" placeholder="Contraseña" required>
        <br>
        <label for="confirm_password">Confirmar contraseña:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
        <br>
        <button type="submit">Crear Cuenta</button>
    </form> 
{% endblock %} a 